 <!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom:25px">
  <h1 style="text-align:center">
    Current slide: {{slideshow.slideIndex}}
  </h1>
  <slideshow #slideshow
             [imageUrls]="imageUrls"
             [height]="height"
             [minHeight]="minHeight"
             [arrowSize]="arrowSize"
             [showArrows]="showArrows"
             [disableSwiping]="disableSwiping"
             [autoPlay]="autoPlay"
             [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
             [debug]="debug"
             [backgroundSize]="backgroundSize"
             [backgroundPosition]="backgroundPosition"
             [backgroundRepeat]="backgroundRepeat"
             [showDots]="showDots"
             [dotColor]="dotColor"
             [showCaptions]="showCaptions"
             [captionColor]="captionColor"
             [captionBackground]="captionBackground"
             [lazyLoad]="lazyLoad"
             [hideOnNoSlides]="hideOnNoSlides"
             [fullscreen]="fullscreen">
  </slideshow>
</div>
<div class="container-fluid  ">
  <div class="row">
    <div class="col-md-4 pt-5  ">
      <nav>
        <a routerLink="/moviedetails"><img src="assets/118.jpg"></a>
      </nav>
    </div>
    <div class="col-md-4 pt-5  ">
      <img src="assets/anjali-cbi.jpg">
    </div>
    <div class="col-md-4 pt-5">
      <img src="assets/captain-marvel.jpg">
    </div>
  </div>

  <div class="row">

    <div class="col-md-4 pt-5 pb-3 pl-3">
      <img src="assets/f2.jpg">

    </div>
    <div class="col-md-4 pt-5 ">
      <img src="assets/uri.jpg">

    </div>
    <div class="col-md-4 pt-5">
      <img src="assets/viswasam.jpg">

    </div>
  </div>
</div>

<app-add-movie></app-add-movie>
