 <!--The content below is only a placeholder and can be replaced.-->
<div style="margin-bottom:25px">
 <div class="table">
   <div class="row">
 <div *ngFor="let movie of movies"><td>
   <div class="card pb-3 mr-3" style="width: 15rem; height: 21rem; ">
     <div class="card-img  align-items-center d-flex justify-content-center" (click)="getdetails(movie)">
          <img src="../../assets/{{movie.Name}}.jpeg" height=100% width=100%>
     </div>
     <div class="card-img-bottom">
       <b>{{movie.Name}}</b>
     </div>
  </div>
 </td>
 </div>
   </div>
  </div>
