<div class="container">
  <div class="table-borderless table-responsive-lg table-responsive-md table-responsive-sm table-responsive-xl tab ">
    <h3 class="bg-white"><b><i id="gold">Select seats</i></b></h3>
    <span *ngFor="let seat of seats">
     <td>
       <span class="fa-stack fa-lg ml-4 mr-4 mt-2 mb-2">
    <i class="fa fa-square-o fa-stack-2x" ></i>
    <i class=" fa-stack-1x"  (click)="get(seat)">{{seat.s}}</i>
       </span>
     </td>
   </span>
  </div>
  <h1 class="text-primary text-center pt-5" >Screen this way </h1>
</div>
