<body>
<header>
  <p>
    <span style="font-size: 20px; color: lavenderblush;"><i class="fas fa-couch"></i></span>available
    <span style="font-size: 20px; color: grey;"><i class="fas fa-couch"></i></span>Booked
    <span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> selected
    <span style="font-size: 20px; color: red;"><i class="fas fa-couch"></i></span>Other
  </p>
</header>
<h3 id ="Gold">Gold 200R.s </h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>02<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>03<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>04<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>05<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>06<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>07<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>08<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>09<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>10<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>11<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>12<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>13<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>14<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>15<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>16<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>17<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>18<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>19<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>20<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>21<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>22<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>23<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>24<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>25<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>26<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>27<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>28<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>29<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>30<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>31<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>32<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>


    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>33<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>34<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>35<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>36<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>37<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>38<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>39<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>40<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>41<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>42<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr></table>
<h3 id ="Silver"> Silver 150R.s</h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>02<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>03<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>04<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>05<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>06<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>07<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>08<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>09<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>10<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>11<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>12<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>13<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>14<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>15<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>16<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>17<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>18<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>19<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>20<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>21<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>22<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>23<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>24<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>25<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>26<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>27<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>28<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>29<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>30<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>31<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>32<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>


    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>33<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>34<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>35<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>36<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>37<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>38<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>39<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>40<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>41<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>42<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr></table>
<h3 id ="bronze" > bronze 100R.s</h3>
<table>
  <tr>
    <td><img src="assets/movie_seats/A.jpg" alt="A" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>01<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>02<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>03<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>04<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>05<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>06<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>07<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>08<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>09<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>10<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>11<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>12<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>13<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>14<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>15<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>16<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>17<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>18<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>19<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>20<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>21<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr>
  <tr>
    <td><img src="assets/movie_seats/B.jpg" alt="B" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>22<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>23<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>24<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>25<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>26<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>27<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>28<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>29<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>30<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>31<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>32<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>


    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>
    <td><img src="assets/movie_seats/white.jpg" alt="white" width="30" height="30"  style="alignment:center">  </td>

    <td>33<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>34<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>35<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>36<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>37<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>38<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>39<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>40<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>41<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>
    <td>42<span style="font-size: 20px; color: blue;"><i class="fas fa-couch"></i></span> </td>

  </tr></table>
<h1  id ="screen">Screen this way </h1>
</body>

