<div class="container-fluid ">
  <header class="fixed-top" id="header">
    <div class="row pt-2 pb-2 ">
      <div class="col-md-1" >
        <nav>
          <a routerLink="/home" routerLinkActive="active" class="fa fa-home" aria-hidden="true" id="home">Home</a>
        </nav>
      </div>
      <div class="col-md-7">
        <input type="text" placeholder="Search.." id="search">
      </div>
      <div class="col-md-2 pt-2">
        <nav>
          <a routerLink="/login" routerLinkActive="active" id="signin">signin&signup</a>
        </nav>
      </div>
      <i class="fas fa-user fa-lg pt-3" ></i>
    </div>
  </header>
</div>

