<div class="container-fluid mb-5">
  <header class="fixed-top" id="header">
    <div class="row align-items-center pb-2 pt-2">
    <span class="col-xs-2 col-md-2 col-sm-2 col-lg-2 col-lx-2 ">
          <a routerLink="/home" routerLinkActive="active" class="fa fa-home pl-3" aria-hidden="true" >My Movie</a>
    </span>
      <span class="input-group col-xs-5 col-md-5 col-sm-5 col-lg-5 col-lx-5">
          <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon1">
      </span>
      <span class="col-xs-2 col-md-2 col-sm-2 col-lg-2 col-lx-2">
        <nav *ngIf=flag1>
          <a class="btn" routerLink="/login" routerLinkActive="active" id="signin"><b>Sign in</b></a>
        </nav>
        <nav  *ngIf=flag2>
          <button class="btn " (click)="logout()"><a routerLink="/login" routerLinkActive="active"><b>logout</b></a></button>
        </nav>
      </span>

      <span class="col-xs-3 col-md-3 col-sm-3 col-lg-3 col-lx-3">
        <span class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Admin Actions
            <span class="caret"></span></button>
          <ul class="dropdown-menu align-content-center">
            <li><a routerLink="/addmovie"><b>Add Movie</b></a></li>
            <li><a routerLink="/addtheater"><b>Add Theater</b></a></li>
            <li><a routerLink="/showusers"><b>Users</b></a></li>
            <li><a routerLink="/showtheaters"><b>Show theaters</b></a></li>

          </ul>
        </span>
      </span>
    </div>
  </header>
</div>



