<div class="container-fluid mb-5">
  <header class="fixed-top" id="header">
    <div class="row pt-2 pb-2 ">
      <div class="col-md-1" >
        <nav>
          <a routerLink="/home" routerLinkActive="active" class="fa fa-home" aria-hidden="true" id="home">My Movie</a>
        </nav>
      </div>
      <div class="input-group mb-3 col-md-7">
          <input type="text" class="form-control" placeholder="Search.." aria-label="Search.." aria-describedby="basic-addon1">
      </div>
      <div class="col-md-2 pt-2">
        <nav *ngIf=flag1>
          <a class="btn" routerLink="/login" routerLinkActive="active" id="signin"><b>Sign in</b></a>
        </nav>
        <nav  *ngIf=flag2>
          <button class="btn " (click)="logout()"><a routerLink="/login" routerLinkActive="active"><b>logout</b></a></button>
        </nav>
      </div>
      <div class="col-md-2 pt-2">


        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Admin Actions
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a routerLink="/addmovie"><b>add movie</b></a></li>
            <li><a routerLink="/addtheater"><b>add Theater</b></a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>
</div>



