
<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px"><h3>Theaters Lists</h3></td>
    </div>
    <div class="col-md-6">
      <td> <h3>Movie Timings</h3></td>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">AMB Cinemas: Gachibowli  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 01:25 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 04:10 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 07:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:25 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Asian Cineplanet Multiplex: Kompally</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 01:35 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 04:35 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 07:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:20 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Asian CineSquare Multiplex: Uppal  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 01:40 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 04:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 07:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:30 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Asian GPR Multiplex: Kukatpally  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 01:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 04:40 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 07:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:30 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Cinepolis: Manjeera Mall, Kukatpally  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 11:00AM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 08:10PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 11:00 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Cinepolis: Mantra Mall, Attapur  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 5:30PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:25PM </a></nav></td>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">INOX: Maheshwari  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:50AM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 04:30PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:10 PM </a></nav></td>
    </div>
  </div>



  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px"> Gokul 70MM: Erragadda</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 02:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 06:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 09:15 PM</a></nav></td>
    </div>
  </div>


  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Manju Cinema: Kalasiguda</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 02:00 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats">06:00 PM</a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 09:00 PM</a></nav></td>
    </div>
  </div>



  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Miraj Cinemas: Shalini Shivani, Hyderabad  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 11:50 AM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 02:30 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 07:50 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats">10:40 PM </a></nav></td>
    </div>
  </div>


  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">PVR: RK Cineplex, Hyderabad  M-Ticket</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 01:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats">07:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 10:30 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Sampoorna 70mm: Vanasthalipuram</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 11:15 AM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats">02:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 06:15 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 09:15 PM </a></nav></td>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-6" >
      <td style="padding-right: 50px">Sandhya 70mm Dolby Atmos: RTC X Roads</td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 11:00 AM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats">02:00 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 06:00 PM </a></nav></td>
    </div>
    <div class="col-md-1">
      <td> <nav><a routerLink="/selectseats"> 09:00 PM </a></nav></td>
    </div>
  </div>
</div>



