<div class="card bg-warning w-100">
  <h1>{{id.Name}}</h1>
</div>
<div class="table">
  <tr>
    <th>Name:</th>
    <td>{{id.Name}}</td>
  </tr>
  <tr>
    <th>Release Date:</th>
    <td>{{id.ReleaseDate|date}}</td>
  </tr>
  <tr>
    <th>Synapsis:</th>
    <td>{{id.Synapsis}}</td>
  </tr>
  <tr>
    <th>Cast:</th>
    <td>{{id.Cast}}</td>
  </tr>
  <tr>
    <th>Crew:</th>
    <td>{{id.Crew}}</td>
  </tr>
</div>
<div>
  <button class="btn btn-info">Booking Tickets</button>
</div>






























































<!--
<h1>Enjoyable Thriller</h1>
<div class="container-fluid">
<tr><td><a href="https://www.youtube.com/watch?v=KypNI5ug4vk" target="_self"><img src="assets/118.jpg" id="image" ></a>
  </td></tr>
</div>
  <tr> <td>
    Published on Mar 3, 2019 4:46 pm IST<br>
    118 movie review<br>
    Release date : March 01, 2019<br>

    123telugu.com Rating : 3.25/5<br>

    Starring : Nandamuri Kalyan Ram, Nivetha Thomas, Shalini Pandey and others

    Director : K. V. Guhan<br>

    Producers : Mahesh koneru<br>

    Music Director : Sekhar Chandra<br>

    Cinematographer : K. V. Guhan<br>

    Editor : Bikkina Thammiraju

  </td></tr><br>
<nav>
  <a routerLink="/theatredetails" style="padding-left: 5px"><button class="btn btn-primary">BOOKING TICKET</button>
  </a>
</nav>
<p style="padding-left: 5px">

  <br>
  Kalyan Ram has pinned a lot of hopes on ‘118’ as the film created a decent buzz with its interesting trailers. The suspense
  thriller is directed by Guhan and has hit the screens today. Let’s see how it is.
  <br>
  <b>Story:</b>
  Gautam(Kalyan Ram) is a journalist who keeps getting weird dreams about a girl(Nivetha Thomas) getting killed.
  After a point in time, situations related to that dream keep happening in his real life as well with a connection to
  the number 118. Left with no choice, he decides to investigate the case himself along with his friend(Prabhas Sreenu)
  and fiance(Shalini Pandey). Who is this girl? What does she have to do with Gautam? Is there a back story to this 118?
  To know the answers, we need to watch the film on the big screen.

</p>
-->
